{% extends "base_les.html" %}
{% load static %}
{% block title %}{{lesson.name}}{% endblock %}
<!-- article -->
{% block article %}
<article class="col-md-12 col-sm-12 col-lg-8 col-xl-9 article_area mt_t10">
    <div class="row mb_20 padding_lr15">
        <div class="title_header">
            <h4 class="mb-0 bold">{{subject.name}}</h4>
        </div>
    </div>
    
    <!-- section -->
    <section class="md-section">
        <!-- lesson content -->
        <div class="title_lesson">
            <h5 class="strong_blue">{{lesson.name}}</h5>
        </div>
        <div class="video_lesson">
            <video></video>
        </div>
        <div class="info_lesson mt_t10 row_mr0">
            <div class="row_mr0">
                <p>{{lesson.views}} lượt xem</p>
            </div>
            <div class="author ml_20">
                <p><b>Tác giả:</b> {{lesson.author}}</p>
            </div>
        </div>
        <div class="change row_mr0 mt_t10">
            <form class="form-inline">
                <div class="previous_lesson mr_10">
                    {% if disable_prev == "" %}
                        <button class="btn btn-sm btn-rs text-while" title="bài học trước" {{ disable_prev }} formaction ="/khoahoc/{{subject.course_id_id}}/{{subject.subject_id}}/{{lesson_prev.lesson_id}}/{{lesson_prev.url_name}}">
                            <i class="fas fa-angle-double-left"></i>
                        </button>
                    {% endif %}
                    {% if disable_prev != "" %}
                        <button class="btn btn-sm btn-rs text-while" title="bài học trước" {{ disable_prev }}>
                            <i class="fas fa-angle-double-left"></i>
                        </button>
                    {% endif %}
                </div>
                <div class="next_lesson">
                    {% if disable_next == "" %}
                        <button class="btn btn-sm btn-rs text-while" title="bài học sau" {{ disable_next }} formaction ="/khoahoc/{{subject.course_id_id}}/{{subject.subject_id}}/{{lesson_next.lesson_id}}/{{lesson_next.url_name}}">
                            <i class="fas fa-angle-double-right"></i>
                        </button>
                    {% endif %}
                    {% if disable_next != "" %}
                        <button class="btn btn-sm btn-rs text-while" title="bài học sau" {{ disable_next }}>
                            <i class="fas fa-angle-double-right"></i>
                        </button>
                    {% endif %}
                </div>
            </form>
        </div>
        <div class="content_lesson mb_20 mt_t10">
            <div class="card box-shadow">
                <div class="card-header">
                    <h4>Nội dung chính</h4>
                </div>
                <div class="card-body">
                    {{lesson.content|safe|linebreaks}}
                </div>
            </div>
        </div>
        <!-- google advertisement -->
        <div class="gooogle_adv_hori">
            <img src="{% static 'image/google_adv/01.jpg' %}" alt="">
        </div>
        <!-- subject more -->
        <div class="content_lesson mb_20 mt_t10">
            <div class="card box-shadow">
                <div class="card-header">
                    <h4>Khóa học khác</h4>
                </div>
                <div class="card-body sub_content nopadding">
                    <div class="row_mr0">
                        {% for course in course_list%}
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 padding_10">
                            <div class="textbox__image" style="background-image: url({% static 'image/background/yellow.jpg' %})">
                                <a href="/khoahoc/{{course.course_id}}"><img src="/media/{{course.image}}" alt="{{course.name}}" title="{{course.name}}"></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- sponsor information -->
        <div class="card box-shadow support mb_20 mt_t10">
            <div class="card-header title_support">
                <h4>Thông tin tài khoản nhận tài trợ</h4>
            </div>
            <div class="card-body">
                <p>Hỡ trợ giúp <b>developer Việt Nam</b> có kinh phí xây dựng nhiều khóa học hơn.</p>
                <p>Hãy gửi cho chúng tôi biết <b>Tên</b> và <b>Thông điệp</b> của bạn khi tài trợ nhé.
                <div class="row_mr0">
                    {% for info_account in info_account_list%}
                    <div class="lesson_next col-md-4 col-sm-6 col-xl-3 col-lg-6 padding_5">
                        <div class="card">
                            <div class="image_bank">
                                <img src="/media/{{info_account.image}}" alt="{{info_account.name}}" class="card-img-top rounded-top">
                            </div>
                            <div class="card-body info_bank">
                                <p>{{info_account.account|safe|linebreaks}}</p>
                                <p>{{info_account.recipients|safe|linebreaks}}</p>
                            </div>
                            <div class="card-footer">
                                <p>{{info_account.name|safe|linebreaks}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- lesson next -->
        <div class="lesson_next_more mt_t10">
            <div class="card box-shadow support mb_20 mt_t10">
                <div class="card-header">
                    <a href="/chiase"><h4>Chia sẻ <i class="fas fa-angle-double-right ml_10"></i></h4></a>
                </div>
                <div class="card-body sub_content">
                    <div class="row_mr0">
                        {% for post in post_list%}
                        <div class="lesson_next col-md-6 col-sm-6 col-lg-6 col-xl-3 padding_5">
                            <div class="card">
                                <div class="image_share">
                                    <a href="/chiase/{{post.post_id}}/{{post.url_name}}"><img src="/media/{{post.image}}" alt="{{post.name}}" class="card-img-top rounded-top"></a>
                                </div>
                                <div class="card-body info_bank">
                                    <a href="/chiase/{{post.post_id}}/{{post.url_name}}"><h5 class="font_size_init title_share" alt="{{post.name}}">{{post.name}}</h5></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- commnet -->
        <div class="commnet mt_t10">
            <div class="title_comment">
                <h5 class="bold">Bình luận</h5>
                <p class="red">Xin lỗi! Chức năng này đang được cập nhật!!</p>
            </div>
        </div>
    </section>
</article>
{% endblock %}
 <!-- aside -->
{% block aside %}
<aside class="col-md-12 col-sm-12 col-lg-4 col-xl-3 aside_area mt_t10">
    <!-- facebook -->
    <!-- <div id="fb-root"></div>
    <div class="fb-page" data-href="https://www.facebook.com/Developer-Vi%E1%BB%87t-Nam-109512397877362" 
    data-tabs="timeline" data-width="" data-height="130px" data-small-header="false" data-adapt-container-width="true" 
    data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Developer-Vi%E1%BB%87t-Nam-109512397877362" 
    class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Developer-Vi%E1%BB%87t-Nam-109512397877362">Developer Việt Nam</a></blockquote></div> -->
    <!-- google advertisement -->
    <!-- <div class="gooogle_adv_verti mt_t10">
        <img src="{% static 'image/google_adv/01.jpg' %}" alt="">
    </div> -->
    <!-- google advertisement -->
    <div class="gooogle_adv_verti mt_t10">
        <img src="{% static 'image/google_adv/01.jpg' %}" alt="">
    </div>
    <!-- lesson more -->
    <div class="card box-shadow lesson_more mt_t10">
        <!-- header -->
        <div class="card-header les_header">
            <h4><i class="fas fa-list mr_10"></i>Danh sách bài học</h4>
        </div>     
        <!-- content --> 
        <div class="card-body les_content nopadding">
            {% for lesson_list in lesson_list%}
                <div id="{{lesson_list.lesson_id}}" class="les_row padding_5">
                    <div class="video_more mr_5">
                        <a href="/khoahoc/{{subject.course_id_id}}/{{subject.subject_id}}/{{lesson_list.lesson_id}}/{{lesson_list.url_name}}" class="card-img-top">
                            <img src="/media/{{ lesson_list.image }}" alt="{{ lesson_list.name }}" class="card-img-top rounded-top" title="{{ lesson_list.name }}">
                        </a>
                    </div>
                    <div class="title_more">
                        <a href="/khoahoc/{{subject.course_id_id}}/{{subject.subject_id}}/{{lesson_list.lesson_id}}/{{lesson_list.url_name}}" title="{{lesson_list.name}}"><h5 class="font_size_init lh_20">{{lesson_list.name}} một bài học hữu ích</h5></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- google advertisement -->
    <div class="gooogle_adv_verti mt_t10">
        <img src="{% static 'image/google_adv/01.jpg' %}" alt="">
    </div>
</aside>
<script>
    $("#{{lesson.lesson_id}}").addClass('active_row');
</script>
{% endblock %}