{% extends "base_sub.html" %}
{% load static %}
{% block title %}DangKy{% endblock %}
<!-- body -->
{% block body %}
<body class="text-center" style="background-image: url({% static 'image/background/sign_in.png' %})">
    <form class="form-register" action="\dangkythanhvien" method="post">
        {% csrf_token %}
        <a href="\trangchu"><img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"></a>
        <h1 class="h3 mb-3 font-weight-normal">Đăng Ký Tài Khoản</h1>
        <h1 class="h3 mb-3 font-weight-normal">Vui Lòng Điền Thông Tin</h1>
        <p class="mt_t10 text-muted text-left nomargin_bottom">Nhập địa chỉ Email</p>
        <input type="email" id="email" name="email" class="form-control" placeholder="Địa chỉ Email" required="" autofocus="">
        {% if message_email != ''%}
        <div class="text-left">
            <p class="red" id="message_email">{{ message_email }}</p>
        </div>
        {% endif%}
        <p class="mt_t10 text-muted text-left nomargin_bottom">Nhập tên người dùng</p>
        <input type="text" id="userName" name="userName" class="form-control" placeholder="Tên người dùng" required="">
        <p class="mt_t10 text-muted text-left nomargin_bottom">Nhập mật khẩu (6-20 ký tự)</p>
        <input type="password" id="password" name="password" class="form-control" placeholder="Mật Khẩu" required="">
        <p class="mt_t10 text-muted text-left nomargin_bottom">Xác nhận mật khẩu</p>
        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Xác Nhận Mật Khẩu" required="">
        <div class="text-left">
            <p class="red display_none" id="mes_err_pass1">Mật khẩu phải từ 6-20 ký tự!</p>
            <p class="red display_none" id="mes_err_pass2">Mật khẩu không khớp nhau!</p>
        </div>
        <button class="btn btn-lg btn-rs btn-block mt_t30 bold" id="register_btn" type="submit">Đăng Ký</button>
        <div class="text-left mt_t10 bold">
            <a href="\dangnhap" class="blue">Tôi đã có tài khoản!</a>
        </div>
        <p class="mt-5 text-muted">© 2021 All rights reserved.<br>Designed by DeveloperVN.</p>
    </form>
</body>
{% endblock %}