{% extends "base_les.html" %}
{% load static %}
{% block title %}Chia Sẻ{% endblock %}
<!-- article -->
{% block article %}
    <article class="col-md-12 col-sm-12 col-lg-9 col-xl-9 article_area mt_t10">
        <section class="md-section">
            {% if message != ''%}
                <h4 class="red">{{ message }}</h4>
            {% else %}
                <div class="card flex-md-row mb_10 box-shadow h-md-250">
                    <a href="chiase/baiviet"><img class="card-img-left flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                        alt="" style="width: 250px; height: 150px;" src="/media/image/share/course-python.jpg" data-holder-rendered="true"></a>
                    <div class="card-body d-flex flex-column align-items-start">                    
                        <h3 class="mb-0">
                            <a class="text-dark" href="chiase/baiviet">Featured post</a>
                        </h3>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <p class="dark_grayish_cyan no_mb">Nov 12</p>
                        <a href="chiase/baiviet">Xem thêm <i class="fas fa-angle-double-right ml_5"></i></a>
                    </div>                
                </div>
                <div class="card flex-md-row mb_10 box-shadow h-md-250">
                    <img class="card-img-left flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" 
                        alt="" style="width: 250px; height: 150px;" src="/media/image/share/course-python.jpg" data-holder-rendered="true">
                    <div class="card-body d-flex flex-column align-items-start">                    
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Featured post</a>
                        </h3>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <p class="dark_grayish_cyan no_mb">Nov 12</p>
                        <a href="#">Chi tiết <i class="fas fa-angle-double-right ml_5"></i></a>
                    </div>                
                </div>
                <div class="card flex-md-row mb_10 box-shadow h-md-250">
                    <img class="card-img-left flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" 
                        alt="" style="width: 250px; height: 150px;" src="/media/image/share/course-python.jpg" data-holder-rendered="true">
                    <div class="card-body d-flex flex-column align-items-start">                    
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Featured post</a>
                        </h3>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <p class="dark_grayish_cyan no_mb">Nov 12</p>
                        <a href="#">Chi tiết <i class="fas fa-angle-double-right ml_5"></i></a>
                    </div>                
                </div>
                <div class="card flex-md-row mb_10 box-shadow h-md-250">
                    <img class="card-img-left flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" 
                        alt="" style="width: 250px; height: 150px;" src="/media/image/share/course-python.jpg" data-holder-rendered="true">
                    <div class="card-body d-flex flex-column align-items-start">                    
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Featured post</a>
                        </h3>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <p class="dark_grayish_cyan no_mb">Nov 12</p>
                        <a href="#">Chi tiết <i class="fas fa-angle-double-right ml_5"></i></a>
                    </div>                
                </div>
                <div class="card flex-md-row mb_10 box-shadow h-md-250">
                    <img class="card-img-left flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" 
                        alt="" style="width: 250px; height: 150px;" src="/media/image/share/course-python.jpg" data-holder-rendered="true">
                    <div class="card-body d-flex flex-column align-items-start">                    
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Featured post</a>
                        </h3>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <p class="dark_grayish_cyan no_mb">Nov 12</p>
                        <a href="#">Chi tiết <i class="fas fa-angle-double-right ml_5"></i></a>
                    </div>                
                </div>
                {% if post_list.has_other_pages %}
                    <ul class="pagination">
                        {% if post_list.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
                        {% endif %}
                        {% for i in post_list.paginator.page_range %}
                            {% if post_list.number == i %}
                                <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if post_list.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ sponsor_list.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            {% endif %}
        </section>
    </article>
{% endblock %}
<!-- aside -->
{% block aside %}
    <aside class="col-md-12 col-sm-12 col-lg-3 col-xl-3 aside_area mt_t10">
        <div class="card box-shadow">
            <div class="card-header">
                <h4>Khóa học</h4>
            </div>
            <div class="card-body">       
                <div class="textbox-group">
                    <div class="row">
                        {% for course in course_list%}
                            <div class="col-md-6 col-lg-6 col-xl-6">
                            <!-- textbox -->
                            <div class="textbox">
                                <div class="textbox__image" style="background-image: url({% static 'image/background/yellow02.jpg' %})">
                                    <a href="/khoahoc/{{course.course_id}}"><img src="/media/{{course.image}}" alt="{{course.name}}"></a>
                                </div>
                                <div class="textbox__body">
                                    <h5 class="textbox__title"><a href="/khoahoc/{{course_list.course_id}}">{{course.name}}</a></h5>
                                </div>
                            </div><!-- End / textbox -->									
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </aside>
{% endblock %}