{% extends "base_les.html" %}
{% load static %}
{% block title %}Liên Hệ{% endblock %}
<!-- article -->
{% block article %}
    <article class="article_area mt_t10">
        <section class="md-section">
            <div class="row_mr0">
                <div class="contact_left col-md-12 col-sm-12 col-lg-4 col-xl-4 mb_20">
                    <div class="card box-shadow">
                        <div class="card-header">
                            <h4>Danh sách người ủng hộ</h4>
                        </div>
                        <div class="card-body">
                            <p><b>Developer Việt Nam</b> biết ơn rất nhiều những người đã ủng hộ và đồng hành cùng chúng tôi. Chúng tôi luôn lấy đó làm động lực để cố gắng hết sức xây dựng những khóa học hay và bổ ích.</p>
                            <p class="bold">Chúng tôi xin chân thành cảm ơn!</p>
                        </div>
                    </div>
                </div>
                <div class="contact_right col-md-12 col-sm-12 col-lg-8 col-xl-8">
                    <div class="card box-shadow">
                        <div class="card-header">
                            <h4 class="text-center">Thông tin tài khoản nhận tài trợ</h4>
                        </div>
                        <div class="card-body">
                            <p>Hỡ trợ để <b>developer Việt Nam</b> có kinh phí xây dựng nhiều khóa học hơn.</p>
                            <div class="row_mr0">
                                <div class="lesson_next col-md-6 col-sm-6 col-xl-3 col-lg-6 padding_5">
                                    <div class="card">
                                        <div class="image_bank">
                                            <img src="{% static 'image/bank/tpbank.jpg' %}" alt="" class="card-img-top rounded-top">
                                        </div>
                                        <div class="card-body info_bank">
                                            <p>Số tài khoản: 01903294701</p>
                                            <p>Chủ tài khoản: PHAN CHI QUANG</p>
                                        </div>
                                        <div class="card-footer">
                                            <p class="bold">Ngân hàng TPBank</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="lesson_next col-md-6 col-sm-6 col-xl-3 col-lg-6 padding_5">
                                    <div class="card">
                                        <div class="image_bank">
                                            <img src="{% static 'image/bank/Teckcombank.png' %}" alt="" class="card-img-top rounded-top">
                                        </div>
                                        <div class="card-body info_bank">
                                            <p>Số tài khoản: 01903294701</p>
                                            <p>Chủ tài khoản: PHAN CHI QUANG</p>
                                        </div>
                                        <div class="card-footer">
                                            <p class="bold">Ngân hàng Teckcombank</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="lesson_next col-md-6 col-sm-6 col-xl-3 col-lg-6 padding_5">
                                    <div class="card">
                                        <div class="image_bank">
                                            <img src="{% static 'image/bank/momo.jpg' %}" alt="" class="card-img-top rounded-top">
                                        </div>
                                        <div class="card-body info_bank">
                                            <p>Số điện thoại: 0977224791</p>
                                            <p>Tên tài khoản: PHAN CHI QUANG</p>
                                        </div>
                                        <div class="card-footer">
                                            <p class="bold">Ví Momo</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="lesson_next col-md-6 col-sm-6 col-xl-3 col-lg-6 padding_5">
                                    <div class="card">
                                        <div class="image_bank">
                                            <img src="{% static 'image/bank/ZaloPay.png' %}" alt="" class="card-img-top rounded-top">
                                        </div>
                                        <div class="card-body info_bank">
                                            <p>Số điện thoại: 0977224791</p>
                                            <p>Tên tài khoản: PHAN CHI QUANG</p>
                                        </div>
                                        <div class="card-footer">
                                            <p class="bold">Ví ZaloPay</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
{% endblock %}