{% extends "base_les.html" %}
{% load static %}
{% block title %}Tài Trợ{% endblock %}
<!-- article -->
{% block article %}
    <article class="article_area mt_t10">
        <section class="md-section">
            <div class="row_mr0">
                <div class="contact_left col-md-12 col-sm-12 col-lg-4 col-xl-4 mb_20">
                    <div class="card box-shadow">
                        <div class="card-header">
                            <h4>Danh sách người ủng hộ</h4>
                        </div>
                        <div class="card-body">
                            <p><b>Developer Việt Nam</b> biết ơn rất nhiều những cá nhân, tổ chức đã ủng hộ và đồng hành cùng chúng tôi. Chúng tôi luôn lấy đó làm động lực để cố gắng hết sức xây dựng những khóa học hay và bổ ích.</p>
                            <p class="bold">Chúng tôi xin chân thành cảm ơn các cá nhân và tổ chức sau:</p>
                            {% for sponsor in sponsor_list%}
                            <div class="mt_t15 mb_10">
                                <p class="no_mb"><b class="blue">{{sponsor.sender}}</b> đã ủng hộ <b>{{sponsor.money}}</b> qua <b>{{sponsor.account.name}}</b></p>
                                {% if sponsor.message != null %}
                                    <p class="no_mb">{{sponsor.message}}</p>
                                {% endif %}
                                <p class="dark_grayish_cyan">{{sponsor.sentDate}}<p>
                            </div>
                            {% endfor %}
                            {% if sponsor_list.has_other_pages %}
                                <ul class="pagination">
                                    {% if sponsor_list.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ sponsor_list.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                        <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
                                    {% endif %}
                                    {% for i in sponsor_list.paginator.page_range %}
                                        {% if sponsor_list.number == i %}
                                            <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if sponsor_list.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{ sponsor_list.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                        <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="contact_right col-md-12 col-sm-12 col-lg-8 col-xl-8">
                    <div class="card box-shadow">
                        <div class="card-header">
                            <h4 class="text-center">Thông tin tài khoản nhận tài trợ</h4>
                        </div>
                        <div class="card-body">
                            <p>Ủng hộ giúp <b>developer Việt Nam</b> có kinh phí xây dựng nhiều khóa học hơn.</p>
                            <p>Hãy gửi cho chúng tôi biết <b>Tên</b> và <b>Thông điệp</b> của bạn khi tài trợ cho chúng tôi nhé.
                            <div class="row_mr0">
                                {% for info_account in info_account_list%}
                                <div class="lesson_next col-md-6 col-sm-6 col-xl-3 col-lg-6 padding_5">
                                    <div class="card">
                                        <div class="image_bank">
                                            <img src="/media/{{info_account.image}}" alt="{{info_account.name}}" class="card-img-top rounded-top">
                                        </div>
                                        <div class="card-body info_bank">
                                            <p>{{info_account.account|safe|linebreaks}}</p>
                                            <p>{{info_account.recipients|safe|linebreaks}}</p>
                                        </div>
                                        <div class="card-footer">
                                            <p>{{info_account.name|safe|linebreaks}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
{% endblock %}