{% extends "base.html" %}
{% load static %}
{% block title %}KhoaHocPython{% endblock %}
<!-- banner -->
{% block banner %}
    <div id="banner_sub">
        <img class="d-block w-100" src="{% static 'image/banner/sub_banner/python.png' %}" alt="Khóa Học Python">
    </div>
{% endblock %}
<!-- article -->
{% block article %}
{% if message == ''%}
{% for subject in subject_list%}
<article class="mt_t20">
    <div class="container-fluid">       
        <div class="row mb_20">
            <div class="title_header">
                <h3 class="mb-0 bold">{{subject.name}}</h3>
            </div>
        </div>
    </div>
    <!-- section -->
    <section class="md-section">
        <div class="container-fluid">
            <div class="row">
                {% for lessons in lessons_list%}
                {% if lessons.subject_id == subject.subject_id%}
                <div class="item tns-item tns-slide-active col-md-2 col-lg-2" id="tns1-item3">
                    <!-- Card -->
                    <div class="card  mb-4 card-hover">
                        <a href="\baihoc" class="card-img-top"><img src="/media/{{ lessons.image }}" alt="" class="card-img-top rounded-top"></a>
                        <!-- Card Body -->
                        <div class="card-body">
                            <h5 class="mb-2 text-truncate-line-2 "><a href="\baihoc" class="text-inherit">{{ lessons.name }}</a></h5>
                            <!-- List -->
                            <ul class="mb-3 list-inline">
                                <li class="list-inline-item"><i class="far fa-clock mr-1"></i>{{ lessons.time }}</li>
                            </ul>
                            <div class="lh-1">
                                <span>
                                    <i class="mdi mdi-star text-warning mr-n1"></i>
                                    <i class="mdi mdi-star text-warning mr-n1"></i>
                                    <i class="mdi mdi-star text-warning mr-n1"></i>
                                    <i class="mdi mdi-star text-warning mr-n1"></i>
                                    <i class="mdi mdi-star text-warning"></i>
                                </span>
                                <span class="text-warning">4.5</span>
                                <span class="font-size-xs text-muted">(13,245)</span>
                            </div>
                        </div>
                        <!-- Card Footer -->
                        <div class="card-footer">
                            <div class="row align-items-center no-gutters">
                                <div class="col-auto">
                                    <img src="" class="rounded-circle avatar-xs" alt="">
                                </div>
                                <div class="col ml-2">
                                    <span>{{ lessons.author }}</span>
                                </div>
                                <div class="col-auto">
                                    <a href="#!" class="text-muted bookmark">
                                    <i class="fe fe-bookmark  "></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor%}
            </div>
        </div>
    </section>
</article>
{% endfor%}
{% endif %}
{% if message != '' %}
    <article class="mt_t20">
        <div class="container-fluid">
            <h3 class="red">{{ message }}</h3>
        </div>
    </article>
{% endif %}
{% endblock %}