<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
        <!-- icon tab chorme -->
        <link rel="icon" type="image/png" sizes="32x32" href="/media/image/logo/logo.png">
        <!-- css  self-defined-->
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/screen_size.css' %}">

        <!-- java script library-->
        <script src="{% static 'js/jquery-3.4.0.min.js' %}"></script>
        <script src="{% static 'js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}" async defer></script>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0&appId=274403149747890&autoLogAppEvents=1" nonce="kyZ37haC"></script>
        <!-- java script self-defined -->
        <script src="{% static 'js/validate.js' %}"></script>
        <script src="{% static 'js/style.js' %}"></script>
        
    </head>
    <body>
        <!-- header -->
        <header class="header header-transparent">
            <!-- navbar -->
            {% include "base_nav.html" %}
            <!-- banner -->
            {% block banner %}{% endblock %}            
        </header>
        <div class="container-fluid content">
            <div class="row">
            <!-- article -->
            {% block article %}{% endblock %}

            <!-- aside -->
            {% block aside %}{% endblock %}
            </div>
        </div>
        <!-- footer -->
        <footer class="bg-cover footer mt_t30">
            <div class="py-6">
                <div class="container-fluid">
                        <!-- Copyright -->
                        <p class="font-size-xxs text-muted">
                            © Bản quyền thuộc về <b>Developer Việt Nam</b>. Thiết kế và hoàn thiện bởi <b>Developer Việt Nam</b>.
                        </p>
                        <!-- <div class="ml_20 contact_footer">
                            <a href="#"><img class="footer-payment" src="{% static 'image/icon/facebook.png' %}" alt="facebook"></a>
                            <a href="#"><img class="footer-payment" src="{% static 'image/icon/google+.png' %}" alt="google"></a>
                            <a href="#"><img class="footer-payment" src="{% static 'image/icon/youtube.png' %}" alt="youtube"></a>
                            <a href="#"><img class="footer-payment" src="{% static 'image/icon/skype.png' %}" alt="skype"></a>
                            <a href="#"><img class="footer-payment" src="{% static 'image/icon/twitter.png' %}" alt="twitter"></a>
                        </div> -->
                </div>
            </div>
        </footer>
        <button id="topBtn" title="Lên đầu trang"><i class="fas fa-angle-up font_size_30"></i></button>
    </body>
</html>